extends ../layouts/home


// ------------ Top Content Panel -------- //
block topContentPanel
	.hero
		h1 WHAT IS
		.bigboy OPEN LEDGER PROJECT?
		.row
			.heroIntroCopy.col-md-8.col-md-offset-2 Open ledger Project is a collaborative effort created to advance blockchain technology by identifying and addressing important features and currently missing requirements, for a cross-industry open standard for distributed ledgers that can transform the way business transactions are conducted globally.
			.row
			<a href="/docs" class="btn btn-primary btn-lg">See the Contributions</a>
			<a href="https://github.com/openblockchain" class="btn btn-primary btn-lg">View Github Project</a>
			<a href="https://console.ng.bluemix.net/catalog/services/ibm-blockchain/" class="btn btn-primary btn-lg">Try in Bluemix</a>




// ------------ Main Content Panel -------- //
block content
	.subcontentPanel

		// ------------ Who Panel -------- //
		#whyPanel.largePanel
			h2 WHY CREATE THE PROJECT?
			.container
				.row
					div.description.col-lg-10.col-lg-offset-1
						p Blockchain is a peer to peer distributed ledger technology for a new generation of transactional applications that establishes trust, accountability and transparency while streamlining business processes. Think of it as an operating system for interactions. It has the potential to vastly reduce the cost and complexity of getting things done.
						p The distributed ledger is a permanent, secure tool that makes it easier to create cost-efficient business networks without requiring a centralized point of control. With distributed ledgers, virtually anything of value can be tracked and traded. The application of this emerging technology is showing great promise in the enterprise. For example, it allows securities to be settled in minutes instead of days. It can be used to help companies manage the flow of goods and related payments or enable manufacturers to share production logs with OEMs and regulators to reduce product recalls.
						quote “As with any early-stage, highly-complex technology that demonstrates the ability to change the way we live our lives and conduct business, blockchain demands a cross-industry, open source collaboration to advance the technology for all.”
						p — Jim Zemlin, Executive Director, Linux Foundation
						.row
						<a href="/docs" class="btn btn-primary btn-lg">View Use Cases For GoLang Fabric</a>
				.row


		// ------------ Who Panel -------- //
		#whoPanel.largePanel
			h2 WHO IS INVOLVED
			.container
				.row
					div.description.col-lg-10.col-lg-offset-1
						p Some of the most innovative companies in the world are actively engaged and in several cases contribute to the OLF Blockchain technology. It is a global collaboration of some of the best and brightest in Finance, Banking, Technology, and Manufacturing.
				.row
					#carousel-foundation.carousel.slide
						ol.carousel-indicators
							li(data-target="#carousel-example-generic" data-slide-to="0" class="active")
							li(data-target="#carousel-example-generic" data-slide-to="1")

						.carousel-inner(role="listbox")
							.item.active
								#busLogoPanel
									img(src="/images/who/r.png").whoLogo
									img(src="/images/who/london.png").whoLogo
									img(src="/images/who/ibm.png").whoLogo
									img(src="/images/who/anz.png").whoLogo
									img(src="/images/who/cibc.png").whoLogo
									img(src="/images/who/wells.png").whoLogo
							.item
								#busLogoPanel
									img(src="/images/who/r.png").whoLogo
									img(src="/images/who/london.png").whoLogo
									img(src="/images/who/ibm.png").whoLogo
									img(src="/images/who/anz.png").whoLogo
									img(src="/images/who/cibc.png").whoLogo
									img(src="/images/who/wells.png").whoLogo

						//-- Controls --//
						.left.carousel-control(href="#carousel-example-generic" role="button" data-slide="prev")
							.glyphicon.glyphicon-chevron-left(aria-hidden="true")
							.sr-onlyPrevious

						.right.carousel-control(href="#carousel-example-generic" role="button" data-slide="next")
							.glyphicon.glyphicon-chevron-right(aria-hidden="true")
							.sr-onlyNext


		// ------------ Video Panel -------- //
		#examplePanel.largePanel
			.cars
			.container
				h2 What does an Example Look Like?
				.row
					div.description.col-lg-10.col-lg-offset-1
						p This video demo provides a quick walkthrough of a Car Lease Proof of Technology application built with the Open Ledger Project Golang Fabric #[a(href="#") (View Example Docs)].
				.row.video
					#youtube


		// ------------ HOW Panel -------- //
		#howPanel.largePanel
			.container
				h2 HOW TO GET INVOLVED
				.row
					div.description.col-lg-8.col-lg-offset-2
						p Open source projects depend on a lot more than code to be successful. Accurate documentation, support, meetups, and blogs are also critical to a healthy project.

				.row
					.col-lg-4
						h5 Write, review or fix code.
						p All code for the project lives on github. There are different languages, architectures, and concepts that are meant to advance blockchain technology.  Take a look and see if you can contribute to existing repos or submit a request to add new and improved ideas.
						<a href="https://github.com/openblockchain" class="btn btn-primary btn-sm">View Github Project</a>
					.col-lg-4
						h5 Learn, try and share.
						p All of project’s documentation is on this site. As you read, learn and try it out. Feel free to contribute back suggestions.
						<a href="/docs" class="btn btn-primary btn-sm">View Documentation</a>
					.col-lg-4
						h5 Distribute the Word
						p Join the community. Talk about your Cloud Foundry work at Meetups or on Slack.
						<a href="/docs" class="btn btn-primary btn-sm">View Documentation</a>
				.row
				h5 Would you like to make a large code submission?
				p To date, contributions and submissions have come from IBM (fabric architecture), DAH (PBFT consensus implementation), R3 (architecture framework), and Intel (???). Between January 10th and February 8th, the Open Ledger Project will accept proposals from anyone planning to make a large code contribution to make the blockchain real for business.

				hr(style="border-color:#ccc;")

				div.row
					.col-lg-5
						h3 QUESTIONS?
						p Don't hesitate to join our Slack channel, check out our GitHub code, send us an email, read the bog or connect with us.
						.social-icons
							a.icon.github(href="https://github.com/openblockchain/", target="_blank")
							a.icon.slack(href="https://openchain.slack.com", target="_blank")
							a.icon.facebook(href="#", target="_blank")
							a.icon.googleplus(href="#", target="_blank")
							a.icon.twitter(href="#", target="_blank")
							a.icon.reddit(href="#", target="_blank")
							a.icon.youtube(href="#", target="_blank")
					.col-lg-5.col-lg-offset-2
						h3 NEWSLETTER
						p Sign up for our newsletter!
						.input-group
							input.form-control(type="text" placeholder="Enter your email for the latest OBC news")
							span.input-group-btn
								button.btn.btn-default(type="button") Go!
