extends ../layouts/home
	
	
// ------------ Top Content Panel -------- //
block topContentPanel
	h1 WHAT IS
	.bigboy OPEN BLOCKCHAIN?
	
	
	
	
// ------------ Main Content Panel -------- //
block content
	.container: .contentWrapper
	.subcontentPanel
		
		
		// ------------ Who Panel -------- //
		.largePanel#whoPanel
			h2 WHO IS INVOLVED
			p.description 
				span Some of the most innovative companies in the world are actively engaged and in several cases contribute to the BOC Blockchain technology.  
				span It is a global collaboration of some of the best and brightest in Finance, Banking, Technology, and Manufacturing.
			
			#whoLogoPanel
				span.fa.fa-chevron-left
				img(src="/images/who/r.png").whoLogo
				img(src="/images/who/london.png").whoLogo
				img(src="/images/who/ibm.png").whoLogo
				img(src="/images/who/anz.png").whoLogo
				img(src="/images/who/cibc.png").whoLogo
				img(src="/images/who/wells.png").whoLogo
				span.fa.fa-chevron-right
		
		
		// ------------ HOW Panel -------- //
		.largePanel
			h2
				strong HOW TO GET INVOLVED
			p.description
				span Open source projects depend on a lot more than code to be successful.
				span Accurate documentation, support, meetups, and blogs are also critical to a healthy project.
			
			br
			br
			
			strong.small 
				span We are using 
				a(href="#") Github Flow 
				span process to contribute code.  here is the basic Github Flow:
			
			br
			br
			
			div
				.sect1x2simple
					ul
						li Anything in the master branch is deployable
						li To work on something new, create a descriptively named branc off your fork.  More detail on fork.
						li
						li
						li
				.sect1x2simple
					p We use the same approach for blah blah blah blah.
					.code Signed-off-by: John Doe &#60;john.doh@domain.com&#62;
					
			hr
			
			div
				.sect1x2simple
					h3 QUESTIONS?
					p Don't hesitat to join our Slack, check our open-source code at GitHub, take a peek at our 60 second video, send us an email, read the bog and follow or connect with us or else.
				.sect1x2simple
					h3 NEWSLETTER
					p Sign up for our newsletter, or don't.
					input(type="text" placeholder="Enter your email for the latest OBC news" style="width:350px;").code
					button(type="submit") Submit
			
			
		// ------------ Video Panel -------- //
		.largePanel(style="background-image: url('images/ckt.png')")
			h2
				strong OBC BY EXAMPLE
			strong.description This video demo provides a detailed examination of an example Blockchain Proof of Technology (PoT).
			#youtube youtube link here
			
			
		// ------------ Fabric Panel -------- //
		.largePanel#fabricPanel
			h2
				strong THE OBC FABRIC
			br
			p.description  We have fabric yes we do, we have fabric how about you.
			br
			br
			br
			a(href="#")
				img(src="images/fabric_1.png").fabImg
			a(href="#")
				img(src="images/fabric_2.png").fabImg
			a(href="#")
				img(src="images/fabric_3.png").fabImg
			
		// ------------ PoV Panel -------- //
		h1 Our point of view
		p.description Ribeye turkey salami beef ribs ball tip. Boudin short loin tail doner jowl leberkas. doner strip steak meatball picanha tri-tip landjaeger leberkas biltong chicken kielbasa. Short ribs flank kielbasa spare ribs.
		
		
		.pan1x3
			.sect1x3
				h3 ID MANAGEMENT
				img(src="/images/logo.png").img1x3
				.desc1x3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in vehicula mi, et molestie mi. Proin mauris enim, tempus scelerisque placerat vel, ultrices pellentesque lacus. Praesent et eros pharetra, volutpat augue et, interdum tortor.
			.sect1x3
				h3 CONSENSUS
				img(src="/images/logo.png").img1x3
				.desc1x3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in vehicula mi, et molestie mi. Proin mauris enim, tempus scelerisque placerat vel, ultrices pellentesque lacus. Praesent et eros pharetra, volutpat augue et, interdum tortor.
			.sect1x3
				h3 CHAIN CODE
				img(src="/images/logo.png").img1x3
				.desc1x3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in vehicula mi, et molestie mi. Proin mauris enim, tempus scelerisque placerat vel, ultrices pellentesque lacus. Praesent et eros pharetra, volutpat augue et, interdum tortor.
		
		
		// ------------ Video Panel -------- //
		.pan1x1
			h3 Sibos Panel Video
			br
			br
			.fa.fa-play-circle.fa-5x
		
		
		// ------------ Use Cases Panel -------- //
		h1 Use Cases We're Solving
		p.description Ribeye turkey salami beef ribs ball tip. Boudin short loin tail doner jowl leberkas. doner strip steak meatball picanha tri-tip landjaeger leberkas biltong chicken kielbasa. Short ribs flank kielbasa spare ribs.
		
		.pan1x3
			.sect1x3
				h3 B2B Contracts
				img(src="/images/logo.png").img1x3
				.desc1x3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in vehicula mi, et molestie mi. Proin mauris enim, tempus scelerisque placerat vel, ultrices pellentesque lacus. Praesent et eros pharetra, volutpat augue et, interdum tortor.
			.sect1x3
				h3 Asset Depository
				img(src="/images/logo.png").img1x3
				.desc1x3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in vehicula mi, et molestie mi. Proin mauris enim, tempus scelerisque placerat vel, ultrices pellentesque lacus. Praesent et eros pharetra, volutpat augue et, interdum tortor.
			.sect1x3
				h3 Supply Chain
				img(src="/images/logo.png").img1x3
				.desc1x3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in vehicula mi, et molestie mi. Proin mauris enim, tempus scelerisque placerat vel, ultrices pellentesque lacus. Praesent et eros pharetra, volutpat augue et, interdum tortor.
		
		
		// ------------ Getting Started Panel -------- //
		h1#gettingStarted Get Started
		p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in vehicula mi, et molestie mi. Proin mauris enim, tempus scelerisque placerat vel, ultrices pellentesque lacus. Praesent et eros pharetra, volutpat augue et, interdum tortor.

		br
		a(href="/gettingstarted")
			button(type="button" style="padding:40px; font-size:69px; border-radius:10px;") Let's Go
		//.instructions#num1 !{bag}
		//iframe(src="/rmd/README.md").instructions#num1
		
		br
		br
		br
		br
		
		
		// ------------ Sample Panel -------- //
		h1 Sample Applications
		p.description Ribeye turkey salami beef ribs ball tip. Boudin short loin tail doner jowl leberkas. doner strip steak meatball picanha tri-tip landjaeger leberkas biltong chicken kielbasa. Short ribs flank kielbasa spare ribs.
		
		.pan1x3
			.sect1x2
				h3 Lease Contracts
				img(src="/images/logo.png").img1x3
				.desc1x3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in vehicula mi, et molestie mi. Proin mauris enim, tempus scelerisque placerat vel, ultrices pellentesque lacus. Praesent et eros pharetra, volutpat augue et, interdum tortor.
			.sect1x2
				h3 IOS TX App
				img(src="/images/logo.png").img1x3
				.desc1x3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in vehicula mi, et molestie mi. Proin mauris enim, tempus scelerisque placerat vel, ultrices pellentesque lacus. Praesent et eros pharetra, volutpat augue et, interdum tortor.
		
		
		// ------------ Contributors Panel -------- //
		h1 Contributors
		p.description Ribeye turkey salami beef ribs ball tip. Boudin short loin tail doner jowl leberkas. doner strip steak meatball picanha tri-tip landjaeger leberkas biltong chicken kielbasa. Short ribs flank kielbasa spare ribs.
		
		br
		
		.contribPanel
			img().contributor
			img().contributor
			img().contributor
			img().contributor
			img().contributor
			img().contributor
			img().contributor
			img().contributor
			img().contributor
			img().contributor
			img().contributor
			img().contributor
		
		
		// ------------ Questions Panel -------- //
		h1 Questions?
		p.description Ribeye turkey salami beef ribs ball tip. Boudin short loin tail doner jowl leberkas. doner strip steak meatball picanha tri-tip landjaeger leberkas biltong chicken kielbasa. Short ribs flank kielbasa spare ribs.
		
		.pan1x1(style="min-height:inherit;")
			a()
				img().twitterIcon
			a()
				img().redditIcon
			a()
				img().facebookIcon
			a()
				img().googlePlusIcon
			a()
				img().githubIcon
			a()
				img().skypeIcon
			a()
				img().tumblrIcon
			a()
				img().youTubeIcon
			
		
		// ------------ Sign Up -------- //
		form.signUpContainer(method="POST" action="/mailinglist")
			.signUpWrap
				.signUpHeader Sign up for updates
				input(type="text" placeholder="Email" name="email")
			.signUpWrap
				.signUpHeader Join the Community
				input(type="text" placeholder="Email" name="join-email")
			button(type="submit").signUpButt SIGN UP
