extends ../layouts/default


// ------------ CSS -------- //
block custom_css
	link(href='/swagger/css/typography.css' media='screen' rel='stylesheet' type='text/css')
	link(href='/swagger/css/screen.css' media='screen' rel='stylesheet' type='text/css')
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
	link(href="/styles/swagger-override.css", rel="stylesheet")


// ------------ Alt Nav Panel -------- //
block altNavPanel
	include ../layouts/left_nav

// ------------ Main Content Panel -------- //
block content
	.subcontentPanel.swagger-section

		.instructions
			h1 API Reference
			p Weclome to the our interactive swagger documentation.
			//span(title="Revert")#returnUrl.fa.fa-undo
			input(type="text" value="...loading...")#urlFullPath

		#swagger-ui-container.swagger-ui-wrap


// ------------ JS -------- //
block custom_js
	script(src='/swagger/lib/jquery-1.8.0.min.js' type='text/javascript')
	script(src='/swagger/lib/jquery.slideto.min.js' type='text/javascript')
	script(src='/swagger/lib/jquery.wiggle.min.js' type='text/javascript')
	script(src='/swagger/lib/jquery.ba-bbq.min.js' type='text/javascript')
	script(src='/swagger/lib/handlebars-2.0.0.js' type='text/javascript')
	script(src='/swagger/lib/underscore-min.js' type='text/javascript')
	script(src='/swagger/lib/backbone-min.js' type='text/javascript')
	script(src='/swagger/swagger-ui.min.js' type='text/javascript')
	script(src='/swagger/lib/highlight.7.3.pack.js' type='text/javascript')
	script(src='/swagger/lib/marked.js' type='text/javascript')
	script(src='/swagger/lib/swagger-oauth.js' type='text/javascript')
	script(src='/swagger/sweeter-swagger-ui.js' type='text/javascript')

	script(type="text/javascript").
		$(function () {
			window.swaggerUi = new SwaggerUi({
				url: swagger_url,
				dom_id: "swagger-ui-container",
				supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
				onComplete: function(swaggerApi, swaggerUi){
					if(window.SwaggerTranslator) {
						window.SwaggerTranslator.translate();
					}
					$('pre code').each(function(i, e) {
						hljs.highlightBlock(e);
					});
				},
				onFailure: function(data) {
					console.log("Unable to Load SwaggerUI");
				},
				docExpansion: "none",
				apisSorter: "alpha",
				showRequestHeaders: false
			});
			window.swaggerUi.load();
		});
