include ../mixins/flash-messages

doctype html
html
	
	
	// ------------ HEADER  -------- //
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'Open Block Chain'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		link(href="/styles/prism.css", rel="stylesheet")
		link(href="/styles/site.css", rel="stylesheet")
		link(type="text/css", rel="stylesheet" href="/styles/font-awesome-4.3.0/css/font-awesome.min.css")
		

		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		block custom_css

		block head
		
		
	// ------------ BODY  -------- //
	body
		#body
			#bgWrap
				
				
				// ------------ Header Panel -------- //
				#header: .container
					div(role="navigation").navbar.navbar-default
						.container-fluid
							.navbar-header
								button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
									span.sr-only Toggle navigation
									span.icon-bar
									span.icon-bar
									span.icon-bar
									
								a.navbar-brand(href='/')
									img(src="/images/logo.png" alt="OBC Logo" title="Home")#logo
								#logoTextWrap 
									a(href="/")#logoText
										span LINUX 
										p OPEN BLOCKCHAIN
										
							.collapse.navbar-collapse
								ul.nav.navbar-nav.navbar-right
									a(href="#").navLinks Code
									a(href="/gettingstarted").navLinks Getting Started
									a(href="/docs?url=../swagger/rest_api.json").navLinks Docs
									a(href="/blog").navLinks Blog
									a(href="#").navLinks Comunity
									
					
				// ------------ Top Content Panel -------- //
				.twoByOneWrapper
					#topContentPanel
						block topContentPanel
		
			//- Flash messages allow you to display once-off status messages to users, e.g. form
			+flash-messages(messages)
				
				
			// ------------ Main Content Panel -------- //
			#secondPanel
				block content
				
				
		// ------------ Footer -------- //
		#footer
			.pan1x1 &nbsp;
				h1 FOOTER
				p Social media icons supplied by Alfredo H. under Creative Commons Attribution 3.0 Unported License.
				| No changes have been made to the original sources, located <a href="https://www.iconfinder.com/iconsets/social-media-2053">here</a>
				
				
		// ------------ JAVASCRIPT -------- //
		script(src='/js/jquery/jquery-1.11.3.min.js')
		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')
		script(src="/js/prism.js")

		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		script(type='text/javascript').
			//var bag = !{JSON.stringify(bag)};					//throw jade json over to JS
			$(document).ready(function(){
				//console.log('bag', bag);
			});
			
		block custom_js
