div.
	<div id="lfcollabprojects-header">
		<br/>
		<div class="gray-diagonal">
			<div class="header-inner">
			<a id="lfcollabprojects-logo" href="http://collabprojects.linuxfoundation.org">Linux Foundation Collaborative Projects</a>
			</div>
		</div>
	</div>
		
		
	<div id="lfcollabprojects-footer">
		<div class="gray-diagonal">
			<div class="footer-inner">
			<p>&copy; <?php print date("Y"); ?> Linux Foundation. All Rights Reserved.</p>
			<p>Linux Foundation is a registered trademark of The Linux Foundation.</p>
			<p>Linux is a registered <a href="http://www.linuxfoundation.org/programs/legal/trademark" title="Linux Mark Institute">trademark</a> of Linus Torvalds.</p>
			</div>
		</div>
	</div>