h3 Documentation for Code Contribution Candidates


h3 Fabric-GoLang

br
h3 Basics
hr
ul.nav
	li.navLinkWrap
		a(href="/docs/Technical_Specification.md").altNavLink White Paper (Technical Specifications)
	li.navLinkWrap
		a(href="/docs/Protocol_Specification.md").altNavLink White Paper (Technical Specifications)
	li.navLinkWrap
		a(href="/docs/Glossary.md").altNavLink Glossary
	li.navLinkWrap
		a(href="/docs/Architecture.md").altNavLink Architecture
	li.navLinkWrap
		a(href="/docs/Use_Cases.md").altNavLink Use Cases

br
h3 Getting Started
hr
ul.nav
	li.navLinkWrap.selected
		a(href="/docs/Getting_Started.md").altNavLink Getting Started
	li.navLinkWrap
		a(href="/docs/Setup_Developer_Environment.md").altNavLink Setting up the Development Environment
	li.navLinkWrap
		a(href="/docs/Setup_Peer.md").altNavLink Setting Up a Peer
	li.navLinkWrap
		a(href="/docs/Setup_Chaincode.md").altNavLink Writing, Building, And Running Chaincode Sandbox
	li.navLinkWrap
		a(href="/docs/Setup_Network.md").altNavLink Setting Up a Network for Development
	//li.navLinkWrap
		//a(href="/docs/Connect_w_CLI_and_REST.md").altNavLink Connecting with CLI and REST

br
h3 API Reference
hr
ul.nav#apiAltNav

br
h3 Examples
hr
ul.nav
	li.navLinkWrap
		a(href="#").altNavLink Examples
	li.navLinkWrap
		a(href="#").altNavLink Examples
