h3 Documentation:
hr
ul.nav
	li.navLinkWrap.selected
		a(href="/docs/Getting_Started.md").altNavLink Getting Started
	li.navLinkWrap
		a(href="#").altNavLink White Paper
	li.navLinkWrap
		a(href="#").altNavLink Architecture
	li.navLinkWrap
		a(href="/docs/OBC_Use_Cases.md").altNavLink Use Cases
	li.navLinkWrap
		a(href="/docs/Setup_OBC_Peer.md").altNavLink Setting Up an Openchain Peer
	li.navLinkWrap
		a(href="/docs/Setup_Sandbox.md").altNavLink Writting, Building, And Running Chaincode
	li.navLinkWrap
		a(href="/docs/Setup_Network.md").altNavLink Setting Up a Network for Development
	li.navLinkWrap
		a(href="/docs/Openchain_API.md").altNavLink API - Docs
	li.navLinkWrap
		a(href="#").altNavLink Examples
br
h3 APIs
hr
ul.nav#apiAltNav