div(role="navigation").navbar.navbar-default
	.container-fluid
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar

			a.navbar-brand(href='/')
				img(src="/images/logo.svg" alt="OBC Logo" title="Home")#logo

		.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				a(href="#").navLinks Code
				a(href="/docs").navLinks Documentation
				a(href="#").navLinks Community
				a(href="/blog").navLinks Blog
