@import "_variables";

h1{
	font-family: 'Poppins', sans-serif;
	font-weight:700;
	font-size:30px;
}
h2{
	font-weight:500;
	font-size:25px;
}
h3{
	font-size:17px;
	// font-weight:900;
}

h5.code-contrib{
	font-weight: 900;
	margin-bottom: 48px;
}


button{
	padding: 7px 20px 5px 20px;
	color:#fff;
	background: #428CCB;
	border:2px #428CCB solid;
	border-radius: 2px;
	font-size: 12px;
}
button:hover{
	border:2px #428CCB solid;
	background:#fff;
	color:#428CCB;
}

input {
	color: #3BA3E0;
	padding:10px;
	margin:0;
}

body{
	// max-width: 1366px;
	margin: 0;
	// background-color: #F5F8F9;
	// min-width:960px;
	font-family: 'Roboto', sans-serif;
}

a{
	color: #006AC4;
}

a:hover, a:active{
	color: #14B655;
}

table{
	margin-bottom: 48px;
	background-color: #efefef;
	tr{
		&> td:first-child {
		    width: 240px;
				vertical-align: top;

		}
		&:nth-child(2n) {
    	background-color: #f8f8f8;
		}
	}
	td{
		padding: 20px 12px;
		border-bottom: 1px solid #ddd;
	}
}

#header {
	background-color: #fff;
	height: 86px;
	border-bottom: 1px solid #ddd;
}

#logo{
	width: 248px;
}

#logoText, #logoText:hover, #logoText:visited, #logoText:active{
	font-size: 13px;
	color: #000;
	font-family: "Orbitron";
}
#logoTextWrap{
	position: absolute;
	top: 27px;
	left: 119px;
	line-height: 12px;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.navLinks, #navLinks:visited, .navLinks:hover{
	display:inline;
	font-size: 16px;
	margin-left:20px;
	font-weight:bold;
	color: #000;
}
.navLinks:hover{
	text-decoration: underline;
}

.navbar-right{
	padding-top:0px;
}

.navbar-default{
	background: transparent;
	border:0;
}

.navbar-brand{
	padding: 24px 0;
}

pre {
    display: block;
    padding: 10px;
    margin: 0 0 10.5px;
    font-size: 14px;
    line-height: 1.42857;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: transparent;
    border: 1px solid #eee;
    border-radius: 2px;
		border: 0;
    border-left: 4px solid #ddd;
    background: #eee;
}

code, pre {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}


.test{
	border: solid 1px #000;
}

.smaller{
	font-size:14px;
	display:inline;
	margin-right: 10px;
}

.cleanButton{
	color:#555;
	background:#fff;
	border-color: $border;
}

.pan1x1, .pan1x3{
	border: 2px solid $border;
	margin-top:30px;
	min-height:300px;
	background: $bg;
}

.pan1x3{
	border-left:0;
	margin-left:0;
	text-align: left;
}

.sect1x3{
	width:33%;
	padding:50px 4%;
	border-left: 2px solid $border;
	text-align: center;
	display:inline-block;
	margin-left:0;
	vertical-align: top;
	height:450px;
}

.img1x3{
	width:100%;
	border: 2px solid rgba(255, 255, 255, 0.1);
	margin-bottom: 10px;
}

.desc1x3{
	font-size:12px;
}

.pan1x1{
	margin-left:0;
	text-align: center;
	padding-top:20px;
}

.sect1x2{
	width:49%;
	padding:60px 4%;
	border-left: 2px solid $border;
	text-align: center;
	display:inline-block;
	margin-left:0;
}

.contribPanel{
	width:80%;
	margin:auto;
}

.contributor{
	width:165px;
	height:165px;
	background: $bg;
	margin-right:15px;
	margin-top:15px;

}

.social-icons{
	display: inline-block;
	a.icon{
		position: relative;
		display: block;
		margin:10px;
		float: left;
		background-image: url('/images/social-icons.png');
		&:first-child{
			margin-left:0;
		}
		&.github{
	    background-position: -10px -10px;
		}
		&.slack{
			background-position: -310px -10px;
		}
		&.facebook{
			background-position: -70px -10px;
		}
		&.googleplus{
			background-position: -130px -10px;
		}
		&.twitter{
			background-position: -250px -10px;
		}
		&.reddit{
			background-position: -190px -10px;
		}
		&.youtube{
			background-position: -370px -10px;
		}
		background-repeat: no-repeat;
		background-size: 420px;
		height:40px;
		width:40px;
		&:hover{
			opacity: .72;
		}
	}
}


code{
	text-align: left;
}

ul, ol {
    padding-left: 16px;
}
