.annoyText{
	font-size:50px;
	font-weight:900;
}

.signUpWrap{
	display:inline-block;
	font-weight:900;
	margin-right:30px;
	font-size: 15px;
	text-align: left;
}

.signUpButt{
	display:block;
	width:210px;
	margin-top:20px;
	margin-left:5px;
	color:#fff;
	background: #428CCB;
	border:2px #428CCB solid;
}
.signUpButt:hover{
	border:2px #428CCB solid;
	background:#fff;
	color:#428CCB;
}

.signUpContainer{
	width: 560px;
	margin: auto;
	padding-top:80px;
	padding-bottom:100px;
}



.white{
	color:#fff;
}

.subcontentPanel{
	text-align: center;
}

.description{
	width: 60%;
	margin:auto;
}

.navbar-collapse{
	margin-top:20px;
}

.navbar-toggle{
	background:#ccc;
}

.title{
	color:#C1C1C1;
	font-weight:700;
	margin-bottom:10px;
}
.thingWrap{
	display:inline-block;
	margin-right: 25px;
	text-align: left;
}

.instructions, .insHeader{
	width:80%;
	margin:auto;
}
.instructions{
	padding:20px;
	text-align: left;
	border:1px solid $border;
	border-top:0;
	display:none;
}

.insHeader{
	border:1px solid $border;
	font-size:25px;
	font-weight: 700;
	padding: 10px 20px;
	text-align: left;
	margin-top:20px;
	cursor: pointer;
}
.insHeader:hover{
	border-color:#000;
}
.open{
	float:right;
	margin-top:-10px;
}