
#topContentPanel, #topContentPanel2{
	text-align: center;
}

.twoByOneWrapper{
	height: 640px;
}

#topContentPanel{
	// padding: 100px 0 150px 0;
	background-image: url('/images/home-hero-lineart.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 56%;
	height: 100%;
	.hero {
    top: 164px;
    display: block;
    position: relative;
    margin-top: 0;
		h1 {
	    margin: 0 20px 20px;
			display: block;
			font-family: 'Poppins', sans-serif;
			font-weight: 400;
			font-size: 40px;
			line-height: 1.4;
			position: relative;
		}
		.heroIntroCopy {
			margin-top: 20px;
			margin-bottom: 20px;
			font-size: 20px;
			background: rgba(255,255,255,0.4);
		}
	}
}

.bigboy {
	display: block;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 64px;
	margin-top: -25px;
	line-height: 85px;
	position: relative;
}

#mainContent{
	h2{
		margin: 40px 0;
		text-align: center;
		font-family: 'Poppins', sans-serif;
		font-weight: 500;
		font-size: 40px;
	}
}

#examplePanel{
	position: relative;
	display: block;
	&.largePanel{
		overflow: hidden;
		background-image: url("/images/home-example-background.jpg");
		background-color: #ccc;
		background-repeat: no-repeat;
		background-position: top;
		background-size: 54%;
		height: 100%;
		width: 100%;
	}
	.video{
		position: relative;
		z-index: 1;
	}
	.cars{
		position: absolute;
		display: block;
		bottom: 40px;
		z-index: 0;
		background-image: url("/images/video-player-cars.jpg");
		background-color: #ccc;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		height: 320px;
		width: 2388px;
		margin-left: -1194px;
    left: 50%;
	}
}

.annoyText{
	font-size:50px;
	font-weight:900;
}

.signUpWrap{
	display:inline-block;
	font-weight:900;
	margin-right:30px;
	font-size: 15px;
	text-align: left;
}

.signUpButt{
	display:block;
	width:210px;
	margin-top:20px;
	margin-left:5px;
	color:#fff;
	background: #428CCB;
	border:2px #428CCB solid;
}
.signUpButt:hover{
	border:2px #428CCB solid;
	background:#fff;
	color:#428CCB;
}

.signUpContainer{
	width: 560px;
	margin: auto;
	padding-top:80px;
	padding-bottom:100px;
}

.white{
	color:#fff;
}

.subcontentPanel{
	// text-align: center;
}

.description{
	font-size:24px;
	text-align: center;
	font-weight:300;
	// margin-bottom: 40px;
	p{
		margin: 0 0 40px;
	}
}

.carousel{
	position: relative;
}

#carousel-foundation{
	margin-top: 40px;
	margin-bottom: 40px;
}
.carousel-control.left,.carousel-control.right{
	background-image: none;
}


@media screen and (min-width: 768px){
	.carousel-indicators {
	    bottom: -40px;
	}
}

.navbar-collapse{
	margin-top:32px;
}

.navbar-toggle{
	background:#ccc;
}

.title{
	color:#C1C1C1;
	font-weight:700;
	margin-bottom:10px;
}

.open{
	float:right;
	margin-top:-10px;
}

.largePanel{
	padding:20px 0px 80px 0px;
}

#whoPanel{
	background: $accent_one;
	background-image: url('/images/home-who-network-art.png');
	color:#fff;
	background-size:contain;
	background-repeat: no-repeat;
}

#whoLogoPanel{
	margin-top:30px;
	height:70px;
	line-height: 70px;
	font-size:30px;
	overflow:hidden;
}

#busLogoPanel{
	display:inline-block;
	width:100%;
	margin:auto;
	overflow:hidden;
	padding: 0 120px;
}

.sect1x2simple{
	display:inline-block;
	width:38%;
	margin: 0 5%;
	vertical-align: top;
	text-align: left;
}

.code{
	padding:5px;
	background: #eee;
	color:#555;
	border: 2px groove #ccc;
}

.whoLogo{
	margin:0 15px;
	height:55px;
}
#youtube{
	background:#fff;
	height:481px;
	width:854px;
	margin: 64px auto 120px;
	background-image: url("/images/OFL-video-teaser.jpg");
	background-color: #ccc;
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
}

#fabricPanel{
	background:#36ABC5;
	color:#fff;
	padding: 40px 0;
}


.fabImg{
	width:33.33%;
}
