
#topContentPanel, #topContentPanel2{
	text-align: center;
}

#topContentPanel{
	padding: 100px 0 150px 0;
}

.annoyText{
	font-size:50px;
	font-weight:900;
}

.signUpWrap{
	display:inline-block;
	font-weight:900;
	margin-right:30px;
	font-size: 15px;
	text-align: left;
}

.signUpButt{
	display:block;
	width:210px;
	margin-top:20px;
	margin-left:5px;
	color:#fff;
	background: #428CCB;
	border:2px #428CCB solid;
}
.signUpButt:hover{
	border:2px #428CCB solid;
	background:#fff;
	color:#428CCB;
}

.signUpContainer{
	width: 560px;
	margin: auto;
	padding-top:80px;
	padding-bottom:100px;
}

.white{
	color:#fff;
}

.subcontentPanel{
	text-align: center;
}

.description{
	width: 60%;
	margin:auto;
	font-size:17px;
}

.navbar-collapse{
	margin-top:20px;
}

.navbar-toggle{
	background:#ccc;
}

.title{
	color:#C1C1C1;
	font-weight:700;
	margin-bottom:10px;
}

.open{
	float:right;
	margin-top:-10px;
}

.largePanel{
	padding:30px 60px 60px 60px;
}

#whoPanel{
	background: $accent_one;
	color:#fff;
}

#whoLogoPanel{
	margin-top:30px;
	height:70px;
	line-height: 70px;
	font-size:30px;
}

.sect1x2simple{
	display:inline-block;
	width:38%;
	margin: 0 5%;
	height:100px;
	vertical-align: top;
	text-align: left;
}

.code{
	padding:5px;
	background: #eee;
	color:#555;
	border: 2px groove #ccc;
}

.whoLogo{
	margin:0 15px;
	height:55px;
}
#youtube{
	border:1px #000 solid;
	background:#fff;
	height:400px;
	width:700px;
	margin:25px auto;
}

#fabricPanel{
	background:#36ABC5;
	color:#fff;
	padding: 40px 0;
}


.fabImg{
	width:33.33%;
}