@import "_variables";

#topContentPanel2{
	text-align: left;
	background:#fff;
	border: 0;
	margin:auto;
}


#topContentPanel2, .subcontentPanel2{
	width: 75%;
	padding-left:65px;
}

#secondPanel{
	position: relative;
}


#altNavPanel{
	position: fixed;
	padding: 2em;
	top: 106px;
	// background: #e7f0f7;
	color: #0f6ab4;
	vertical-align: top;
	padding: 0px;
	min-height: 800px;
	// border: 1px solid #c3d9ec;
	z-index: 1;
	width:164px;
	// transform: 50%;
	h3 {
    color: #2F3034;
    font-size: 16px;
    font-weight: 700;
	}
	hr{
		margin: 24px 0 0 0;
		border-color: #eee;
	}
  .nav{
		.navLinkWrap{
			border-bottom: solid 1px #eee;
  		padding:0;
		}
		& li > a {
  		padding: 12px 8px;
			font-size: 12px;
		}
		& .active > a{
			color: #14B655;
			font-weight:700;
		}
		& active:hover, & :hover{
			border-bottom:solid 1px #168FDF;
			width:100%;
			background-color: transparent;
		}
		& :hover > a{
			border-bottom: none;
			text-decoration: none;

		}
	}
}

.subcontentPanel2{
	margin:auto;
	text-align: center;
	margin-bottom: 20px;
}

.insHeader, .instructions{
	// width:100%;
	// margin-left:0;
}

hr{
	border-color:#0f6ab4;
}



.instructions, .insHeader{
	// margin:auto;
}
.instructions{
	text-align: left;
	margin-top: 20px;
	// border-top:0;
	// display:none;
}

.insHeader{
	border:1px solid $border;
	font-size:25px;
	font-weight: 700;
	padding: 10px 20px;
	text-align: left;
	margin-top:20px;
	cursor: pointer;
}
.insHeader:hover{
	border-color:#000;
}


#footer{
	position: relative;
	z-index:2;
}


// .altNavLink{
// 	padding: 0 !important;
// }

.resource{
	border: 0;
}
