@import "_variables";

#topContentPanel2{
	text-align: left;
	background:#fff;
	border: 0;
	margin:auto;
}


#topContentPanel2, .subcontentPanel2{
	width: 75%;
	padding-left:65px;
}

#secondPanel{
	position: relative;
}


#altNavPanel{
	// overflow-y: auto;
	// overflow-x: hidden;
	position: fixed;
	top: 106px;
	vertical-align: top;
	// bottom:0;
	vertical-align: top;
	padding: 0;
	z-index: 1;
	width:164px;
	display: block;
	h5 {
		// color: #2F3034;
		// font-weight: 700;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	hr{
		margin: 24px 0 0 0;
		border-color: #eee;
	}
  .nav{
		.navLinkWrap{
			border-bottom: solid 1px #eee;
  		padding:0;
		}
		& li > a {
  		padding: 12px 8px;
			font-size: 12px;
			color: #0f6ab4;
		}
		& .active > a{
			color: #14B655;
			font-weight:700;
		}
		& active:hover, & :hover{
			border-bottom:solid 1px #168FDF;
			width:100%;
			background-color: transparent;
		}
		& :hover > a{
			border-bottom: none;
			text-decoration: none;

		}
	}
}

.subcontentPanel2{
	margin:auto;
	text-align: center;
	margin-bottom: 20px;
}


hr{
	border-color:#0f6ab4;
}


.instructions{
	text-align: left;
	margin-top: 20px;
}

.insHeader{
	border:1px solid $border;
	font-size:25px;
	font-weight: 700;
	padding: 10px 20px;
	text-align: left;
	margin-top:20px;
	cursor: pointer;
}
.insHeader:hover{
	border-color:#000;
}


#footer{
	position: relative;
	z-index:2;
}

.resource{
	border: 0;
}

.panel-default {
    border-color: transparent;
}

.panel-body {
    padding: 0;
}

.panel-heading {
    padding: 0;
}

.panel-default > .panel-heading {
    background-color: transparent;
}

.panel {
    margin-bottom: 20px;
    border: 0;
    border-radius: 0;
    @include box-shadow(none);
}
